@model gestionDeBiblio.Models.Livre

@{
    ViewBag.Title = "Supprimer Livre";
}

<h2>Supprimer</h2>

<h3>Vous êtes sûr de vouloir supprimer ce livre ?</h3>
<div>
    <h4>Livre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.auteur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.auteur)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à la liste", "Index")
        </div>
    }
</div>
