@model gestionDeBiblio.Models.Pret

@{
    ViewBag.Title = "Détails Prêt";
    DateTime datePret = Model.getDateRetour();
}

<h2>Détails</h2>

<div>
    <h4>Pret</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emprunteur.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emprunteur.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leLivrePrete.titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leLivrePrete.titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            Etat
        </dt>
        
        @if (DateTime.Compare(datePret.Date, DateTime.Now.Date) > 0)
        {
            <dd>
                En cours
            </dd>}
        else
        {
            <dd>
                Délai dépassé
            </dd>}

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
